{% extends 'template.twig' %}

{% block content %}
    <div class="container">
        <p>Parece que este usuário ainda tem dependentes...</p>
        <p>Remova para remover este usuário !</p>
    </div>
{% endblock %}